*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-text {
  font-size: 15px;
  color: #f53e3e
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #7F56D9  !important; 
  font-weight: 500;
}

.ant-tabs-tab:hover  {
  color: #7F56D9  !important; 
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #7F56D9  !important;
  pointer-events: none;
}

.ant-btn-primary {
  background: #7F56D9  !important;
  border-color: #7F56D9  !important;
}

.ant-btn-primary:hover {
  background: #7F56D9  !important;
  border-color: #7F56D9  !important;
}

.ant-btn-default:hover {
  color: #7F56D9  !important;
  border-color: #7F56D9  !important;
}

.margin-none {
  margin-inline: none !important;
}

.close-icon {
  width: 20px;
  height: 20px;
  background-color: #f53e3e;
  border-radius: 50%;
  position: absolute;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right:25px;
  top:10px
}

.border-top-1px {
  border-top: 1px solid #e8e8ea;
  padding-top: 15px;
}

.btnCombination {
  display: flex;
  gap: 12px;
  align-items: center;
}

.btnCombination span {
  user-select: none;
}