.reason {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoverable {
    transition: all ease 0.3s;
    background-color: white;
    user-select: none;
}

.hoverable:hover {
    z-index:999 ;
    transform: scale(1.2);
}